<% if user_signed_in? && current_user.role == "Administrador" %>
<div class="row">
  <script>
  var marker;          //variable del marcador
  var coords = {};    //coordenadas obtenidas con la geolocalización

  //Funcion principal
  initMap = function ()
  {
    //usamos la API para geolocalizar el usuario
    navigator.geolocation.getCurrentPosition(
    function (position){
    coords =  {
    <% if @point.latitude %>
    lng: "<%= @point.longitude %>",
    lat: "<%= @point.latitude %>"
    <% else %>
    lng: position.coords.longitude,
    lat: position.coords.latitude
    <% end %>
    };
    setMapa(coords);  //pasamos las coordenadas al metodo para crear el mapa
    },function(error){console.log(error);});
  };


  function setMapa (coords)
  {
  //Se crea una nueva instancia del objeto mapa
        var map = new google.maps.Map(document.getElementById('map'),
        {
          zoom: 16,
          center:new google.maps.LatLng(coords.lat,coords.lng),
        });
          marker = new google.maps.Marker({
          map: map,
          draggable: true,
          animation: google.maps.Animation.DROP,
          position: new google.maps.LatLng(coords.lat,coords.lng)});
          document.getElementById("point_latitude").value = coords.lat;
          document.getElementById("point_longitude").value = coords.lng;
        marker.addListener( 'dragend', function (event)
        {
        //escribimos las coordenadas de la posicion actual del marcador dentro del input #coords
        document.getElementById("point_latitude").value = this.getPosition().lat();
        document.getElementById("point_longitude").value = this.getPosition().lng();
        });
  };
  // Carga de la libreria de google map
  </script>
  <div class="col-12 col-md-8">
    <div id="map"></div>
  </div>
  <div class="col-6 col-md-4">
    <div class="container">
      <%= form_with(model: point, local: true) do |form| %>
        <% if point.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(point.errors.count, "error") %> prohibited this point from being saved:</h2>
            <ul>
            <% point.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <strong><%= form.label :"Latitud:" %></strong>
              <%= form.text_field :latitude, id: :point_latitude , :class => "form-control" , :readonly => true, :required => true %>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
             <strong><%= form.label :"Longitud:" %></strong>
              <%= form.text_field :longitude, id: :point_longitude, :class => "form-control" , :readonly => true , :required => true %>
            </div>
          </div>
        </div>

          <div class="form-group">
            <strong><%= form.label :"Nombre de la Institución:" %></strong>
            <%= form.text_field :nombre, id: :point_nombre, :class => "form-control", :required => true %>
          </div>
          <div class="form-group">
          <strong><label for="exampleFormControlSelect1">Tipo de Institución:</label></strong>
          <select class="form-control" id="exampleFormControlSelect1" name="point[tipo]">
          <option value="Hospital">Hospital</option>
          <option value="Policía o Bomberos">Policía o Bomberos</option>
          <option value="Fuerzas Armadas">Fuerzas Armadas</option>
          <option value="Busqueda y Rescate">Busqueda y Rescates</option>
          </select>
          <% if @point.tipo %>
          <script>
              document.ready = document.getElementById("exampleFormControlSelect1").value = "<%= @point.tipo %>";
          </script>
          <% end %>
          </div>
          <div class="form-group">
            <strong><%= form.label :"Dirección:" %></strong>
            <%= form.text_field :direccion, id: :point_direccion, :class => "form-control", :required => true %>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <strong><%= form.label :"Nombre del Encargado:" %></strong>
                <%= form.text_field :encargado, id: :point_encargado, :class => "form-control" , :autocomplete => :off %>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <strong><%= form.label :"Cargo de la persona:" %></strong>
                <%= form.text_field :cargo, id: :point_cargo, :class => "form-control" %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <strong><%= form.label :"Telefono de Emergencia: " %></strong>
                <%= form.text_field :telefono_emergencia, id: :point_telefono_emergencia, :class => "form-control", :required => true , :autocomplete => :off %>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <strong><%= form.label :"Telefono de Informaciones: " %></strong>
                <%= form.text_field :telefono_informaciones, id: :point_telefono_informaciones, :class => "form-control" , :autocomplete => :off%>
              </div>
            </div>
          </div>
          <div class="form-group">
            <strong><%= form.label :"Descripción: " %></strong>
            <%= form.text_area :description, id: :point_description, :class => "form-control" , rows: "5" %>
          </div>

        <div class="form-group">
          <%= form.submit "Guardar" , :class => "btn btn-success btn-block  "%>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%else%>
<script type="text/javascript">
   window.location.href="/users/sign_in"  // put your correct path in a string here
</script>
<% end %>
