<% if user_signed_in?  && current_user.role == "Administrador"  %>
<div class="container">
<h1>Enlazar <%= @point.nombre %> con sus especialidades </h1>
<h6>por favor seleccione las especialidades: </h6><br>

<form action="/create/enlazar/<%= @point.id %>" method="post">
    <div class="form-group">
      <% @letra = '' %>
      <% @especialidades.each do |especialidad| %>
        <% if especialidad.name[0] != @letra %>
           <h4><%= especialidad.name[0] %></h4>
           <% @letra = especialidad.name[0] %>
          <% end %>
        <% @especialidadesP.each do |especialidade| %>
             <% if especialidade.id == especialidad.id && @estado%>
             <div class="custom-control custom-checkbox">
             <input type="checkbox" name="especialidades[]"  value="<%= especialidad.id %>" id="<%= especialidad.id %>" class="custom-control-input" checked>
             <label class="custom-control-label" for="<%= especialidad.id %>"><h7><%= especialidad.name %></h7></label>
             </div>
               <% @estado = false %>
             <% end %>
        <% end %>
        <% if @estado %>

            <div class="custom-control custom-checkbox">
            <input type="checkbox" name="especialidades[]"  value="<%= especialidad.id %>" id="<%= especialidad.id %>" class="custom-control-input">
            <label class="custom-control-label" for="<%= especialidad.id %>"><h7><%= especialidad.name %></h7></label>
            </div>
        <%end%>
        <% @estado = true %>
      <%end%>
    </div>

    <button class="btn btn-success btn btn-block" type="submit" name="button">Guardar</button>
</form>
</div>
<%else%>
<script type="text/javascript">
   window.location.href="/users/sign_in"  // put your correct path in a string here
</script>
<% end %>
