<% if user_signed_in?%>
  <script>
  var coords = {};    //coordenadas obtenidas con la geolocalización
  initMap = function ()
  {
    //usamos la API para geolocalizar el usuario
    navigator.geolocation.getCurrentPosition(
    function (position){
    coords =  {
    lng: position.coords.longitude,
    lat: position.coords.latitude
    };
    setMapa(coords);  //pasamos las coordenadas al metodo para crear el mapa
    },function(error){console.log(error);});
  }

  function setMapa (coords)
  {
      //Se crea una nueva instancia del objeto mapa
        var latlng = new google.maps.LatLng(coords.lat,coords.lng);
        var map = new google.maps.Map(document.getElementById('map'),
        {
          zoom: 17,
          center:latlng
        });
         var marker = new google.maps.Marker({
          map: map,
          icon: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png",
          title: 'pocision inicial',
          position: latlng
        });

          <% @points.each do |point| %>

                  var myLatLng = {lat: <%= point.latitude %>, lng: <%= point.longitude %> };
                  var marker = new google.maps.Marker({
                    position: myLatLng,
                    <% if point.tipo == "Hospital" %>
                    icon: "http://maps.google.com/mapfiles/ms/icons/yellow-dot.png",
                    <% end %>
                    <% if point.tipo == "Policía o Bomberos" %>
                    icon: "http://maps.google.com/mapfiles/ms/icons/orange-dot.png",
                    <% end %>
                    <% if point.tipo == "Fuerzas Armadas" %>
                    icon: "http://maps.google.com/mapfiles/ms/icons/green-dot.png",
                    <% end %>
                    <% if point.tipo == "Busqueda y Rescate" %>
                    icon: "http://maps.google.com/mapfiles/ms/icons/red-dot.png",
                    <% end %>
                    map: map,
                    title: "<%= point.nombre %>",
                    Snippet: 'Click'
                  });
                  <%if current_user.role == "Administrador"%>
                  var content =
                      '<h5><%= point.nombre %></h5>'+
                      '<p>Telefono de emergencia: <%= point.telefono_emergencia %><p>'+
                      '<a class="btn btn-primary btn-block" href="/points/<%= point.id %>">Ver Informacion</a>'+
                      '<a class="btn btn-warning btn-block" href="/points/<%= point.id %>/edit ">Editar</a>';
                  <%else%>
                  var content =
                      '<h5><%= point.nombre %></h5>'+
                      '<p>Telefono de emergencia: <%= point.telefono_emergencia %><p>'+
                      '<a class="btn btn-primary btn-block" href="/points/<%= point.id %>">Ver Informacion</a>';
                  <%end%>

                    var infowindow = new google.maps.InfoWindow()
                  google.maps.event.addListener(marker,'click', (function(marker,content,infowindow){
                  return function() {
                      infowindow.setContent(content);
                      infowindow.open(map,marker);
                  };
                })(marker,content,infowindow));
          <% end %>
  };
  </script>
  <div class="card border-primary">
    <div class="row">
      <div class="col">
        <strong>Posición Actual:</strong> <img src="http://maps.google.com/mapfiles/ms/icons/blue-dot.png">
      </div>
      <div class="col">
        <strong>Hospitales:</strong> <img src="http://maps.google.com/mapfiles/ms/icons/yellow-dot.png">
      </div>
      <div class="col">
        <strong>Policias y Bomberos:</strong> <img src="http://maps.google.com/mapfiles/ms/icons/orange-dot.png">
      </div>
      <div class="col">
        <strong>Fuerzas Armadas:</strong> <img src="http://maps.google.com/mapfiles/ms/icons/green-dot.png">
      </div>
      <div class="col">
        <strong>Busqueda y Rescate:</strong> <img src="http://maps.google.com/mapfiles/ms/icons/red-dot.png">
      </div>
    </div>
  </div>
  <div id="map"></div>
  <%else%>
  <script type="text/javascript">
     window.location.href="/users/sign_in"  // put your correct path in a string here
  </script>
  <% end %>
