<% if user_signed_in?%>
<div class="jumbotron">
<div class="text-center">
  <h3>Lista de Instituciones</h3>
  <hr>
  </div>
  <div class="container">
    <form action="/list/points" method="get">
      <input class="form-control form-group" placeholder="Ingrese el nombre del centro" value="<%= @nombre %>" name=nombre type="text">
      <button class="btn btn-warning btn-block form-group" type=”submit”>Buscar</button>
    </form>
  </div>
  <br>
  <div class="table-responsive">
  <table class="table table-bordered">
        <thead class="table-light text-center">
          <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Encargado</th>
            <th>Cargo</th>
            <th># Emergencia</th>
            <th># Informaciones</th>
            <th colspan="3">Editar</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          <% @number = 0 %>
            <% @points.each do |point| %>
          <tr class="table-light">
              <td><%= @number=@number+1 %></td>
              <td><%= point.nombre %></td>
              <td><%= point.tipo %></td>
              <td><%= point.encargado %></td>
              <td><%= point.cargo %></td>
              <td><%= point.telefono_emergencia%></td>
              <td><%= point.telefono_informaciones %></td>
              <%if current_user.role == "Administrador"%>
              <td class="text-center"><a  href="/points/<%=point.id%>/edit" class="btn btn-primary btn-sm">Información</a></td>
              <td class="text-center"><a  href="/enlazar/<%=point.id%>" class="btn btn-warning btn-sm">Especialidades</a></td>
              <td class="text-center"><a  href="/enlazarEmergencias/<%=point.id%>" class="btn btn-secondary btn-sm">Emergencias</a></td>
              <%else%>
              <td></td>
              <td></td>
              <td></td>
              <%end%>

            <td class="text-center"><a  href="/points/<%= point.id %>" class="btn btn-success btn-sm"><i class="fa fa-eye" aria-hidden="true"></i></a>
            <%if current_user.role == "Administrador"%>
            <%= link_to ('<i class="fa fa-trash-o" aria-hidden="true"></i>').html_safe , point, :class => 'btn btn-danger btn-sm', method: :delete, data: { confirm: 'Esta seguro?'} %></td>
            <%end%>
          </tr>
            <% end %>
        </tbody>
  </table>
</div>
</div>
<%else%>
<script type="text/javascript">
   window.location.href="/users/sign_in"  // put your correct path in a string here
</script>
<% end %>
