<% if user_signed_in?%>
<script>
var coords = {};    //coordenadas obtenidas con la geolocalización
initMap = function ()
{
  //usamos la API para geolocalizar el usuario
  navigator.geolocation.getCurrentPosition(
  function (position){
  coords =  {
  lng: position.coords.longitude,
  lat: position.coords.latitude
  };
  setMapa(coords);  //pasamos las coordenadas al metodo para crear el mapa
  },function(error){console.log(error);});
}

function setMapa (coords)
{
    //Se crea una nueva instancia del objeto mapa
      var posicioninicial = new google.maps.LatLng(coords.lat,coords.lng);
      var map = new google.maps.Map(document.getElementById('map'),
      {
        zoom: 14,
        center:posicioninicial
      });
      var objConfigDR = {
           map: map
         }
       var objConfigDS = {
         origin: posicioninicial, //latLong - String domicilio
         destination:"<%= @point.latitude %>,<%= @point.longitude %>",
         travelMode: google.maps.TravelMode.DRIVING
       }
       var ds = new google.maps.DirectionsService(); //cambia depende el servicio de transporte
       var dr = new google.maps.DirectionsRenderer(objConfigDR);
       ds.route(objConfigDS, fnRutear);
       function fnRutear( resultados, status){
         //muestra la linea entre A y B
         if (status == 'OK'){
           document.getElementById('distance').innerHTML +=
             (resultados.routes[0].legs[0].distance.value)/1000 + " Km";
          // Display the duration:
          document.getElementById('duration').innerHTML +=
             Math.round((resultados.routes[0].legs[0].duration.value)/60) + " Min";
           dr.setDirections(resultados);
         }else {
           alert('Error'+ status);
         }
       };

};
</script>
   <style media="screen">
   #map {
     height: 50%;
     width: 100%;
   }
   </style>
   <div class="text-center">
      <h2><%= @point.nombre %></h2>
      <hr>
   </div>
    <div id="map"></div>
    <br>
    <nav>
    <div class="nav  justify-content-center nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Información de Ruta </a>
      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Información Basica</a>
      <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Especialidades</a>
      <a class="nav-item nav-link" id="nav-emergencies-tab" data-toggle="tab" href="#nav-emergencies" role="tab" aria-controls="nav-emergencies" aria-selected="false">Emergencias</a>
    </div>
  </nav>
  <div class="container">
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <div class="card-body">
        <h5 class="card-title"><%= @point.nombre %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= @point.direccion %></h6>
        <p class="card-text"> <div id="duration"><strong>Duracion del Recorrido : </strong></div></p>
        <p class="card-text"> <div id="distance"><strong>Distancia del Recorrido : </strong></div></p>
        <p class="card-text"> <strong>Latitud Destino: </strong> <%= @point.latitude %></p>
        <p class="card-text"> <strong>Longitud Destino: </strong> <%= @point.longitude %></p>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
      <div class="card-body">
        <h5 class="card-title"><%= @point.nombre %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= @point.direccion %></h6>
        <p class="card-text"> <strong>Encargado: </strong> <%= @point.encargado %> (<%= @point.cargo %>)</p>
        <p class="card-text"> <strong>Telefono de Emergencias: </strong> <%= @point.telefono_emergencia %></p>
        <p class="card-text"> <strong>Telefono de Informaciones: </strong> <%= @point.telefono_informaciones %></p>
        <p class="card-text"> <strong>Descripción: </strong> <textarea class="form-control" name="name" rows="8%" readonly><%= @point.description %></textarea></p>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
      <div class="card-body">
        <h5 class="card-title"><%= @point.nombre %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= @point.direccion %></h6><br>
            <% @point.especialidades.order("name ASC").each do |especialidade| %>
            <li class="card-text"> <strong><%= especialidade.name %></strong></li>
            <% end %>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-emergencies" role="tabpanel" aria-labelledby="nav-emergencies-tab">
      <div class="card-body">
        <h5 class="card-title"><%= @point.nombre %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= @point.direccion %></h6><br>
            <% @point.emergencies.order("name ASC").each do |especialidade| %>
            <li class="card-text"> <strong><%= especialidade.name %></strong></li>
            <% end %>
      </div>
    </div>
  </div>
</div>
<%else%>
<script type="text/javascript">
   window.location.href="/users/sign_in"  // put your correct path in a string here
</script>
<% end %>
