<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

    <div class="container ">
      <h2>Editar Datos: </h2>
      <div class="row">
        <div class="col">
        <div class="form-group">
        <%= f.label :"email:" %><br />
        <%= f.email_field :email, autofocus: true , :class => "form-control" %>
        </div>    </div>
        <div class="col">
          <div class="field">
            <%= f.label :"nombre:" %><br />
            <%= f.text_field :firstname, autofocus: true, autocomplete: "on" , :class => "form-control" %>
          </div>
        </div>
        <div class="col">
          <div class="field">
            <%= f.label :"Apellido:" %><br />
            <%= f.text_field :lastname, autofocus: true, autocomplete: "on", :class => "form-control"  %>
          </div>
        </div>
      </div>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
      <div class="row">
        <div class="col">
          <div class="field">
            <%= f.label :"Nueva Contraseña:" %> <i>(Dejelo en Blanco si no Cambiara la Contraseña)</i><br />
            <%= f.password_field :password, autocomplete: "off" , :class => "form-control"%>
          </div>
      </div>
        <div class="col">
          <div class="field">
            <%= f.label :"Confirmar Nueva contraseña:" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off" , :class => "form-control" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
            <div class="field">
              <%= f.label :"Contraseña actual:" %><br/>
              <%= f.password_field :current_password, autocomplete: "off"  , :class => "form-control" , required: "on" %>
            </div>
        </div>
      </div>
      <br>
      <div class="actions">
        <%= f.submit "Actualizar" , :class => "btn btn-warning btn-block" %>
      </div>
    </div>

<% end %>
