<% if user_signed_in?%>
<div class="jumbotron container">
  <div class="text-center">
    <h3><strong>  <%= @especialidade.name %></strong></h3>
  </div>
  <hr>
  <h5>Centros asociados a esta especialidad: </h5>
  <br>
  <% @especialidade.points.order('nombre ASC').each do |centro| %>
    <a href="/points/<%= centro.id %>" class="list-group-item list-group-item-action"><%=centro.nombre%></a>
  <% end %>
</div>
<%else%>
<script type="text/javascript">
   window.location.href="/users/sign_in"  // put your correct path in a string here
</script>
<% end %>
