<% if user_signed_in?  && current_user.role == "Administrador" %>
<%= form_with(model: emergency, local: true) do |form| %>
  <% if emergency.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(emergency.errors.count, "error") %> prohibited this emergency from being saved:</h2>

      <ul>
      <% emergency.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :emergency_name %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<%else%>
<script type="text/javascript">
   window.location.href="/users/sign_in"  // put your correct path in a string here
</script>
<% end %>
