<div class="jumbotron container">
<div class="text-center">
  <h3>Lista de Emergencias</h3>
  <hr>
  <div class="container">
    <form action="/emergencies" method="get">
      <input class="form-control form-group" placeholder="Ingrese el nombre de la emergencia" value="<%= @nombre %>"  name=nombre type="text">
      <button class="btn btn-warning btn-block form-group" type=”submit”>Buscar</button>
    </form>
  </div>
</div>
  <br>

  <div class="container">
    <table class="table">
          <thead class="table-light">
            <tr>
              <th>#</th>
              <th>Nombre</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody>
            <% @count=0 %>
            <% @emergencies.each do |especialidade| %>
              <tr class="table-light">
                <td><%= @count=@count+1%></td>
                <td><%= especialidade.name %></td>
                <td><%= link_to ('<i class="fa fa-eye" aria-hidden="true"></i>').html_safe, especialidade , :class => 'btn btn-primary  btn-sm' %>
                <%if current_user.role == "Administrador"%>
                <a class="btn btn-warning btn-sm" href="#myModal<%=especialidade.id%>" data-toggle="modal" data-target="#myModal<%=especialidade.id%>"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                <%= link_to  ('<i class="fa fa-trash-o" aria-hidden="true"></i>').html_safe , especialidade, :class => 'btn btn-danger btn-sm', method: :delete, data: { confirm: 'Esta seguro?' } %>
                <%end%>
               </td>
              </tr>
              <div class="modal fade" id="myModal<%=especialidade.id%>">
                <div class="modal-dialog">
                    <div class="modal-content">
                      <form action="/emergencies/<%=especialidade.id%>" method="post">
                      <input type="hidden" name="_method" value="patch">
                       <div class="modal-header">
                        <h4 class="modal-title">Editando emergencia</h4>
                       </div>
                      <div class="modal-body">
                         <div class="form-group">
                           <input  class="form-control" type="text" id="emergency_name" name="emergency[name]" value="<%= especialidade.name %>" placeholder="ingrese el nombre de la emergencia" required>
                         </div>
                      </div>
                      <div class="modal-footer">
                        <a href="#" data-dismiss="modal" class="btn btn-danger">Cancelar</a>
                        <input type="submit" class="btn btn-success" name="" value="Guardar">
                      </div>
                    </form>
                    </div>
                  </div>
              </div>
              <% end %>
          </tbody>
    </table>
  </div>
<br>
</div>
