<div class="jumbotron container">
  <div class="text-center">
    <h3><strong>  <%= @emergency.name %></strong></h3>
  </div>
  <hr>
  <h5>Centros asociados a esta emergencia: </h5>
  <br>
  <% @emergency.points.order('nombre ASC').each do |centro| %>
    <a href="/points/<%= centro.id %>" class="list-group-item list-group-item-action"><%=centro.nombre%></a>
  <% end %>
</div>
