<% if user_signed_in?  && current_user.role == "Administrador" %>
<%= form_with(model: app_user, local: true) do |form| %>
<div class="form">
  <% if app_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(app_user.errors.count, "error") %>:</h2>
      <ul>
      <% app_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div class="form-group">
    <%= form.label :"Nombre Completo: " %>
    <%= form.text_field :nombre, id: :app_user_nombre , :class => "form-control" , :autocomplete => :off , :required => true %>
  </div>
  <div class="form-group">
    <%= form.label :email %>
    <%= form.email_field :email, id: :app_user_email  , :class => "form-control" , :required => true %>
  </div>
  <div class="form-group">
    <%= form.label :Institucion %>
    <%= form.text_field :institucion, id: :app_user_institucion , :class => "form-control" , :autocomplete => :off , :required => true %>
  </div>
  <div class="form-group">
    <%= form.label :cargo %>
    <%= form.text_field :cargo, id: :app_user_cargo , :class => "form-control" , :autocomplete => :off , :required => true  %>
  </div>
  <div class="form-group">
    <%= form.label :Contraseña %>
    <%= form.password_field :password, id: :app_user_password , :class => "form-control" , :autocomplete => :off , :required => true %>
  </div>
  <div class="form-group">
    <%= form.label :"Confirmar Contraseña" %>
    <input type="password" id="confirm_password" class="form-control">
  </div>
  <script type="text/javascript">
      var password = document.getElementById("app_user_password")
      , confirm_password = document.getElementById("confirm_password");
    function validatePassword(){
      if(password.value != confirm_password.value) {
        confirm_password.setCustomValidity("La constraseña no coinciden");
      } else {
        confirm_password.setCustomValidity('');
      }
    }
    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
  </script>
  <div class="form-group">
  <div class="actions">
    <%= form.submit 'Guardar' , :class=>"btn btn-success btn-block" , :autocomplete => :off %>
  </div>
</div>
</div>
<% end %>
<% else %>
<script type="text/javascript">
   window.location.href="/users/sign_in"  // put your correct path in a string here
</script>
<% end %>
