<div class="jumbotron container">
<div class="text-center">
  <h3>Lista de Usuarios Aaplicación Movíl</h3>
  <hr>
  </div>
  <br>
  <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th>Cargo</th>
            <th>Institucion</th>
            <th colspan="2">Acciones:</th>
          </tr>
        </thead>
  <tbody class="table-light">
    <% @app_users.each do |app_user| %>
      <tr>
        <td><%= app_user.nombre %></td>
        <td><%= app_user.email %></td>
        <td><%= app_user.cargo %></td>
        <td><%= app_user.institucion %></td>
        <td>
        <%if current_user.role == "Administrador"%>
        <a href="/app_users/<%=app_user.id%>/edit" class="btn btn-warning btn-sm"><i class="fa fa-pencil" aria-hidden="true"></i></a>
        <%= link_to ('<i class="fa fa-trash-o" aria-hidden="true"></i>').html_safe, app_user,:class => 'btn btn-danger btn-sm', method: :delete, data: { confirm: 'Esta seguro?' } %>
        <% end %>
      </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
