<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @app_user.nombre %>
</p>

<p>
  <strong>Institucion:</strong>
  <%= @app_user.institucion %>
</p>

<p>
  <strong>Email:</strong>
  <%= @app_user.email %>
</p>

<p>
  <strong>Cargo:</strong>
  <%= @app_user.cargo %>
</p>
<strong>Cargo:</strong>
<%= @app_user.password %>
</p>
<strong>cifrado:</strong>
<%= @app_user.cifrado %>
</p>


<%= link_to 'Edit', edit_app_user_path(@app_user) %> |
<%= link_to 'Back', app_users_path %>
