<div class="row">
  <div class="col-sm">
  </div>
  <div class="col-sm">
    <div class="container">
    <div class="text-center">
      <h2>Plataforma UGR</h2>
      <hr>
    </div>
    <div class="container">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.email_field :email, placeholder: "Email:" , autofocus: true , :class => "form-control" %>
        </div>
        <div class="form-group">
          <%= f.password_field :password, placeholder: "Contraseña:", autocomplete: "off" , :class => "form-control"%>
        </div>
        <div class="actions">
          <%= f.submit "Iniciar Sesión" , :class => "btn btn-success btn-block" %>
        </div>
      <% end %>
     </div>
  </div>
</div>
  <div class="col-sm">
  </div>
</div>
