<% if user_signed_in? && current_user.role == "Administrador" %>
<div class="container jumbotron">
  <h3>
       Editar contraseña del usuario:  <%=@user.firstname%> <%=@user.lastname%>
       <%= notice %>
  </h3>
  <form action="/user/<%=@user.id%>/update_user" method="post">
    <div class=" form-group">
        <div class="field">
          <label>Contraseña</label>
          <i>(Debe tener una letra en mayuscula, minuscula, nuemro y caracter especial. Tamaño minimo 6)</i>
          <input class="form-control" id="app_user_password" type="password" name="user[password]" placeholder="Contraseña" required>
        </div>
    </div>
    <div class="form-group">
        <div class="field">
          <label>Confirmaticion de contraseña</label>
          <br>
          <input class="form-control" id="confirm_password" name="user[password_confirmation]" placeholder="Confirmacion de contraseña" type="password" required>
        </div>
      </div>
    <div class="ui center aligned basic segment">
      <button type="input" class="btn btn-warning btn-block"><i class="ui add icon"></i>Editar usuario</button>
    </div>
    <br>
    <script type="text/javascript">
          var password = document.getElementById("app_user_password")
          , confirm_password = document.getElementById("confirm_password");
        function validatePassword(){
          if(password.value != confirm_password.value) {
            confirm_password.setCustomValidity("La constraseña no coinciden");
          } else {
            confirm_password.setCustomValidity('');
          }
        }
        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;
    </script>
  </form>
</div>
<%else%>
<script type="text/javascript">
   window.location.href="/users/sign_in"  // put your correct path in a string here
</script>
<% end %>
