<% if user_signed_in?%>

<div class="jumbotron container">
<div class="text-center">
  <h3>Lista de Usuarios</h3>
  <hr>
  </div>
  <br>
  <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>Correo electronico</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Role</th>
            <th>Acciones:</th>
          </tr>
        </thead>
        <tbody>
            <% @users.each do |user| %>
          <tr class="table-light">
              <td><%= user.email %></td>
              <td><%= user.firstname %></td>
              <td><%= user.lastname %></td>
              <td><%= user.role %></td>
              <td>
              <%if current_user.role == "Administrador" && current_user.email != user.email%>
                <a  href="/user/<%=user.id%>/edit_user" class="btn btn-warning btn-sm">Cambiar Contraseña</a>
              <%end%>
            </td>
          </tr>
            <% end %>
        </tbody>
  </table>
</div>
<%else%>
<script type="text/javascript">
   window.location.href="/users/sign_in"  // put your correct path in a string here
</script>
<% end %>
