<% if user_signed_in?  && current_user.role == "Administrador"  %>
<div class="jumbotron container">
  <div class="container">
            <h3>Nuevo usuario plataforma web</h3>
            <hr>
              <form action="/usuarios" method="post">
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                    <label for="exampleFormControlInput1">Email:</label>
                    <input  class="form-control"name="user[email]" placeholder="Correo electronico" type="email" autocomplete="off" required>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                    <label>Nombre:</label>
                    <input  class="form-control" name="user[firstname]" placeholder="Nombre" type="text" required>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                    <label>Apellido:</label>
                    <input  class="form-control" name="user[lastname]" placeholder="Apellido" type="text" required>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                <label for="exampleFormControlSelect1">Role:</label>
                <select class="form-control" id="exampleFormControlSelect1" name="user[role]">
                <option>Usuario</option>
                <option>Administrador</option>
                </select>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label>Contraseña: <i>(Debe tener una letra en mayuscula, minuscula, numero y caracter especial.Tamaño minimo 6)</i></label>
                      <input class="form-control"  id="app_user_password" type="password" name="user[password]" placeholder="Contraseña" required>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group"><br>
                      <label>Confirmaticion de contraseña</label>
                      <br>
                      <input class="form-control" id="confirm_password" name="user[password_confirmation]" placeholder="Confirmacion de contraseña" type="password" required>
                    </div>
                  </div>
                </div>
                <script type="text/javascript">
                      var password = document.getElementById("app_user_password")
                      , confirm_password = document.getElementById("confirm_password");
                    function validatePassword(){
                      if(password.value != confirm_password.value) {
                        confirm_password.setCustomValidity("La constraseña no coinciden");
                      } else {
                        confirm_password.setCustomValidity('');
                      }
                    }
                    password.onchange = validatePassword;
                    confirm_password.onkeyup = validatePassword;
                </script>
                <br>
                <div class="ui center aligned basic segment">
                  <button type="input" class="btn btn-success btn-block"><i class="ui add icon"></i>Crear usuario</button>
                </div>
              </form>
      </div>
    </div>
    <%else%>
    <script type="text/javascript">
       window.location.href="/users/sign_in"  // put your correct path in a string here
    </script>
    <% end %>
