<!DOCTYPE html>
<html>
  <head>
    <title>Plataform</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
 <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 <style>
   /* Always set the map height explicitly to define the size of the div
    * element that contains the map. */
   #map {
     height: 85%;
     width: 100%;
   }
     /* Optional: Makes the sample page fill the window. */
     html, body {
       height: 100%;
       margin: 0;
       padding: 0;
     }
     .navbar{padding: 0.9rem;}

   </style>
</head>
<% if user_signed_in?%>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<header class="masthead mb-auto">
  <nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: #223F5E;">
  <h7 class="navbar-brand text-white"><strong>UGR</strong></h7>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li><a class="text-white nav-link"  href="/"><i class="fa fa-map"></i> Mapa</a></li>
      <li class="nav-item dropdown">
        <a class="nav-link text-white dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-building"></i> Centros</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/list/points">Ver Lista</a>
          <%if current_user.role == "Administrador"%>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/points/new">Registrar</a>
          <% end %>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link text-white dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-list"></i> Especialidades</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/especialidades">Ver en Lista</a>
          <%if current_user.role == "Administrador"%>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item"  href="#myModal2" data-toggle="modal" data-target="#myModal2">Registrar</a>
          <% end %>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link text-white dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-fire"></i> Emergencias</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/emergencies">Ver en Lista</a>
          <%if current_user.role == "Administrador"%>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#myModal" data-toggle="modal" data-target="#myModal">Registrar</a>
          <% end %>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link text-white dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-users"></i> Usuarios</a>
        <div class="dropdown-menu">
          <a class="dropdown-header"><strong>Plataforma Web</strong></a>
          <a class="dropdown-item" href="/usuarios">Ver Usuarios</a>
          <%if current_user.role == "Administrador"%>
          <a class="dropdown-item" href="/usuarios/new">Registrar</a>
          <% end %>
          <div class="dropdown-divider"></div>
          <a class="dropdown-header"><strong>Aplicación Móvil</strong></a>
          <a class="dropdown-item" href="/app_users">Ver Usuarios</a>
          <%if current_user.role == "Administrador"%>
          <a class="dropdown-item" href="/app_users/new">Registrar</a>
          <% end %>
        </div>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item dropdown">
          <a class="text-white nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i>  <%= current_user.firstname %> <%= current_user.lastname %></a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to 'Editar datos', edit_user_registration_path , { :class=>"dropdown-item" } %>
            <%= link_to "Cerrar Sesión", destroy_user_session_path,method: :delete, :class=>"dropdown-item" %>
          </div>
      </li>
    </ul>
  </div>
</nav>
</header>
<% end %>  <!-- <body style="background-color:#EEEBE0;"> -->
    <body>
          <!-- modal  -->
      <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
              <form action="/emergencies" method="post">
               <div class="modal-header">
                <h4 class="modal-title">Registre una nueva Emergencia</h4>
               </div>
              <div class="modal-body">
                 <div class="form-group">
                   <input  class="form-control" type="text" name="emergency[name]" value="" placeholder="ingrese el nombre de la emergencia" required>
                 </div>
              </div>
              <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn btn-danger">Cancelar</a>
                <input type="submit" class="btn btn-success" name="" value="Guardar">
              </div>
            </form>
            </div>
          </div>
      </div>

      <div class="modal fade" id="myModal2">
        <div class="modal-dialog">
            <div class="modal-content">
              <form action="/especialidades" method="post">
               <div class="modal-header">
                <h4 class="modal-title">Registre una nueva Especialidad</h4>
               </div>
              <div class="modal-body">
                 <div class="form-group">
                   <input  class="form-control" type="text" name="especialidade[name]" value="" placeholder="ingrese el nombre de la emergencia" required>
                 </div>
              </div>
              <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn btn-danger">Cancelar</a>
                <input type="submit" class="btn btn-success" name="" value="Guardar">
              </div>
            </form>
            </div>
          </div>
      </div>
      <!-- modal  -->
    <br><br><br>
    <%= yield %>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5B-dlZTvCJH8vwkHExXFBrRhBMtm7mK8&callback=initMap"></script>
  </body>
</html>
